

    {% load static %}

  <style>@media all and (min-width: 250px) {
	.navbar .nav-item .dropdown-menu{ display: none; }

	 .dropdown-menu .dropdown-item:hover{
		background-color: transparent;
	 }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }

}	</style>


    <div style="  height: 14vh;  width: 100%;
    background-color:  #3b5d50;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;">
    
  
		


		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark fixed-top" arial-label="donaco">
   
     
   
			<div class="container">
				<a class="navbar-brand" href="index.html"> <img src="{% static 'logo/donaco_logo.svg' %}" height="32" alt=""></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li><a class="nav-link" {% if 'products' in request.path %}active{% endif %} href="{% url 'products' %}">Products</a></li>
						<li><a class="nav-link" href="about.html">
							About</a></li>
							<li><a class="nav-link" href="about.html">
								e-catalog</a></li>
							<li class="nav-item dropdown">
								<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Corporate</a>
								 <ul class="dropdown-menu" style="background-color: #3b5d50;">
								   <li><a class="dropdown-item" href="#">Fairs</a></li>
								   <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
								   <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li>
								 </ul>
							 </li>
				
						<li><a class="nav-link" href="contact.html">Contact</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="#"><img src="images/user.svg"></a></li>
						<li><a class="nav-link" href="cart.html"><img src="images/cart.svg"></a></li>
					</ul>
				</div>
			</div>

		</nav>
		<!-- End Header/Navigation -->
 
  </div>
  
   