{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}




        <script src="//static.fliphtml5.com/web/js/plugin/LightBox/js/fliphtml5-light-box-api-min.js"></script>

        <div class="container d-flex justify-content-center" style="padding: 32px;">
         
            <!-- <h1>{% trans "Katalog" %}</h1>
            <h>{% trans "Lütfen kataloğa tıklayınız.." %}</h6> -->
            <img style="width: 250px; " src="https://online.fliphtml5.com/kzezr/znht/files/shot.jpg" data-rel="fh5-light-box-demo" data-href="https://online.fliphtml5.com/kzezr/znht/" data-width="900" data-height="500" data-title="Donaco-katalog">

        </div>
       
{% endblock body %}