{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}



<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">


      <div class="col-md-6 border-end">

        <div class="bootstrap4-0-0">
          <div class="detail-carousel">

            <div class="carousel-container position-relative">

              <!-- Sorry! Lightbox doesn't work - yet. -->

              <div id="myCarousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner">

                  {% for image in images %}
                  <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} "
                    data-slide-number="{{ forloop.counter0 }}">

                    <a data-modal="bs-lightbox" href="{{image.image.url}}" class="post-thumbnail">     <img src="{{image.image.url}}" style="object-fit: scale-down; width:100%; height: 400px;" alt="..."
                      data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="image" 
                      data-gallery="example-gallery"> </a>


                  </div>
                  {% endfor %}

                  <!-- 
                  <div class="carousel-item active" data-slide-number="0">
                    <img src="https://source.unsplash.com/Pn6iimgM-wo/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="1">
                    <img src="https://source.unsplash.com/tXqVe7oO-go/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/tXqVe7oO-go/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="2">
                    <img src="https://source.unsplash.com/qlYQb7B9vog/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/qlYQb7B9vog/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="3">
                    <img src="https://source.unsplash.com/QfEfkWk1Uhk/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/QfEfkWk1Uhk/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="4">
                    <img src="https://source.unsplash.com/CSIcgaLiFO0/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/CSIcgaLiFO0/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="5">
                    <img src="https://source.unsplash.com/a_xa7RUKzdc/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/a_xa7RUKzdc/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="6">
                    <img src="https://source.unsplash.com/uanoYn1AmPs/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/uanoYn1AmPs/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="7">
                    <img src="https://source.unsplash.com/_snqARKTgoc/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/_snqARKTgoc/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="8">
                    <img src="https://source.unsplash.com/M9F8VR0jEPM/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/M9F8VR0jEPM/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div>
                  <div class="carousel-item" data-slide-number="9">
                    <img src="https://source.unsplash.com/Q1p7bh3SHj8/1600x900/" class="d-block w-100" alt="..."
                      data-remote="https://source.unsplash.com/Q1p7bh3SHj8/" data-type="image" data-toggle="lightbox"
                      data-gallery="example-gallery">
                  </div> -->
                </div>
              </div>

              <!-- Carousel Navigation -->
              <div id="carousel-thumbs" class="carousel" data-ride="carousel">
                <div class="carousel">
                  <div class="carousel-item active">
                    <div class="row mx-0">

                      {% for image in images %}
                      <div id="carousel-selector-{{ forloop.counter0 }}"
                        class="list-inline gallery thumb col-4 col-sm-2 px-1 py-2 "
                        data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}">
                      <img src="{{image.image.url}}" style="object-fit: scale-down; width:100%;" class="img-rounded zoom img-fluid"
                          alt="...">
                      </div>
                      {% endfor %}
                  
                      <!-- <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                        data-target="#myCarousel" data-slide-to="0">
                        <img src="https://source.unsplash.com/Pn6iimgM-wo/600x400/" class="img-fluid" alt="...">
                      </div>
                      <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                        data-slide-to="1">
                        <img src="https://source.unsplash.com/tXqVe7oO-go/600x400/" class="img-fluid" alt="...">
                      </div>
                      <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                        data-slide-to="2">
                        <img src="https://source.unsplash.com/qlYQb7B9vog/600x400/" class="img-fluid" alt="...">
                      </div>
                      <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                        data-slide-to="3">
                        <img src="https://source.unsplash.com/QfEfkWk1Uhk/600x400/" class="img-fluid" alt="...">
                      </div>
                      <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                        data-slide-to="4">
                        <img src="https://source.unsplash.com/CSIcgaLiFO0/600x400/" class="img-fluid" alt="...">
                      </div>
                      <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                        data-slide-to="5">
                        <img src="https://source.unsplash.com/a_xa7RUKzdc/600x400/" class="img-fluid" alt="...">
                      </div> -->


                    </div>
                  </div>

                </div>


              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="p-3 right-side">
       
        
          <div class="row">
            <div class="col-10">
              <div class="d-flex justify-content-between align-items-center">
                <h3>{{product.product_name}}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
              </div>
            </div>
            
            <div class="col-2" style="padding-left: 0px;padding-right: 0px;">
              <div class="container">
                <div class="row">
                 
                {% get_available_languages as languages %}


                {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                <div class="col" style="padding-left: 0px;padding-right: 0px;">
                    
               
                  <a class="" href="{% url 'product_detail' slug=product.slug %}"><img
                      style="width: 18px; height: 18px" src="
                         {% if lang_code == 'tr' %}
                             {% static 'locale/tr.png' %}
                         {% elif lang_code == 'en' %}
                             {% static 'locale/en.png' %}
                         {% endif %}" alt="{{lang_code}}"></a>
                   </div>
                {% endlanguage %}
                {% endfor %}
              </div>
            </div>
          </div>

        
          </div> 

         
       
  

          <div class="mt-2 pr-3 content">
            <p>{{product.description | safe}}</p>
          </div>
        

          <!-- <h3>$430.99</h3> -->
          <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row"> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
                class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i>
            </div>

            <!-- <span>441 Kere bakildi</span> -->
          </div>



        </div>
      </div>
    </div>
  </div>
  <div style="height: 32px;" ></div>
 
  <div class="col">
    <div class="container">
      <div class="row">
         
          <div class="col-sm">
            {% for catalog in catalog_images %}
            <img  src="{{catalog.image.url}}" class="img-fluid rounded"alt="...">
            {% endfor %}
         
      
            </div>
       
     
      
      </div>
    </div>
  </div>


</div>



{% endblock body %}