{% extends "base.html" %}
{% load static %}
{% block body %}
<style>
  .product_detail  .carousel .carousel-item {
  height: 20px;
}

.product_detail .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 15px;
}
</style>



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            1 of 3
        </div>
        <div class="col-md-auto">
            <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
                <div class="row py-3 shadow-5">
                  <div class="col-12 mb-1">
                    <div class="lightbox">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                        alt="Gallery image 1"
                        class="ecommerce-gallery-main-img active w-100"
                      />
                    </div>
                  </div>
                  <div class="col-3 mt-1">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                      data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                      alt="Gallery image 1"
                      class="active w-100"
                    />
                  </div>
                  <div class="col-3 mt-1">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
                      data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
                      alt="Gallery image 2"
                      class="w-100"
                    />
                  </div>
                  <div class="col-3 mt-1">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
                      data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
                      alt="Gallery image 3"
                      class="w-100"
                    />
                  </div>
                  <div class="col-3 mt-1">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
                      data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
                      alt="Gallery image 4"
                      class="w-100"
                    />
                  </div>
                </div>
              </div>
        </div>
        <div class="col col-lg-2">
            3 of 3
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3">
            1 of 3
        </div>
        <div class="col-md-5">

            <div class="product_carousel">

         
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% for image in images  %}


                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} ">
                        <img src="{{ image.image.url }}" class="img img-fluid product-thumbnail d-block w-100 h-250">
                    </div>
        
                    {% endfor %}
   
                    
          
                
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

            </div>


        </div>
        <div class="col col-lg-3">
      <h1>{{product.product_name}}</h1> 
      <h5>{{product.description}}</h5>
        </div>
    </div>
</div>










{% endblock body %}